# Análise I

In [36]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /home/joao/anaconda3/envs/desafioManfing/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /home/joao/anaconda3/envs/desafioManfing/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [37]:
import pandas as pd

In [38]:
df_vendas = pd.read_excel('../DataSet/DataSet_Test.xlsx')

## Quantidade de pedidos por país

In [39]:
# Quantidade de pedidos realizados por cada país
df_paises = df_vendas.groupby('Country')['BillNo'].count().reset_index()
display(df_paises.sort_values(by='BillNo', ascending=False, ignore_index=True))

                 Country  BillNo
0         United Kingdom  487622
1                Germany    9042
2                 France    8408
3                  Spain    2485
4            Netherlands    2363
5                Belgium    2031
6            Switzerland    1967
7               Portugal    1501
8              Australia    1185
9                 Norway    1072
10                 Italy     758
11                Sweden     451
12           Unspecified     446
13               Austria     398
14                Poland     330
15                 Japan     321
16                Israel     295
17             Hong Kong     284
18             Singapore     222
19               Iceland     182
20                   USA     179
21                Greece     145
22                 Malta     112
23  United Arab Emirates      68
24                   RSA      58
25               Lebanon      45
26             Lithuania      35
27                Brazil      32
28               Bahrain      18
29          Saudi Arabia       9

## Pedidos por Vendedor

In [44]:
# Quantidade de pedidos realizados por cada Vendedor
# Apenas os 15 primeiros
df_customers = df_vendas.groupby('CustomerID')['BillNo'].count().reset_index()
df_customers.sort_values(by='BillNo', ascending=False, ignore_index=True, inplace=True)
df_customers.head(15)

    CustomerID  BillNo
0      17841.0    7847
1      14096.0    5111
2      12748.0    4596
3      14606.0    2700
4      15311.0    2379
5      14646.0    2080
6      13089.0    1818
7      13263.0    1677
8      14298.0    1637
9      15039.0    1502
10     18118.0    1279
11     14159.0    1204
12     14796.0    1141
13     16033.0    1137
14     15005.0    1119

## Produto Mais Vendido

In [58]:
colunas_op = df_vendas.filter(items=['Price', 'Quantity'])
total_items = colunas_op['Price'] * colunas_op['Quantity']

#arrumar
df_items = df_vendas.groupby('Itemname').count()

,BillNo,Quantity,Date,Price,CustomerID,Country
Itemname,,,,,,
wet boxes,1,1,1,1,0,1
wet damaged,5,5,5,5,0,5
wet pallet,3,3,3,3,0,3
wet rusty,2,2,2,2,0,2
wet/rusty,2,2,2,2,0,2
wet?,1,1,1,1,0,1
wrong barcode,1,1,1,1,0,1
wrong barcode (22467),1,1,1,1,0,1
wrong code,1,1,1,1,0,1
wrong code?,1,1,1,1,0,1
wrongly coded 20713,2,2,2,2,0,2
wrongly coded 23343,1,1,1,1,0,1
wrongly coded-23343,1,1,1,1,0,1
wrongly marked,1,1,1,1,0,1
wrongly marked 23343,1,1,1,1,0,1
wrongly marked carton 22804,1,1,1,1,0,1
wrongly marked. 23343 in box,1,1,1,1,0,1
wrongly sold (22719) barcode,1,1,1,1,0,1
wrongly sold as sets,1,1,1,1,0,1
wrongly sold sets,1,1,1,1,0,1